html, body, ul, li, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1 img {
	display: block;
}
img {
	border: 0;
}
a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #f00;
}
.left {
	float: left;
}
.right {
	float: right;
}
.more {
	text-align: right;
}
.clear {
	clear: both;
}
body {
	text-align: center;
	font: 12px arial, sans-serif;
	background: #eee;
}
#outer {
	background: top center url(images/header_bg.jpg) repeat-x;
        background-color: #999999;
}
#wrapper {
	text-align: left;
	margin: auto;
	width: 756px;
}

#header {
	height: 78px;
}
#header h1 {
	color: #FD2E00;
	font-weight: normal;
	font-size: 22px;
	padding: 20px 0 0 70px;
	margin: 0;
}
#header p {
	color: #333333;
	padding: 0 0 10px 70px;
	margin: 0;
}
#nav {
	background: url(images/header_c_bg.gif) repeat-x;
	position: relative;
	height: 370px;
}
#nav a {
	color: #E7E4E4;
	text-decoration: none;
}
#nav a:hover {
	color: #fff;
	text-decoration: none;
}
#nav ul {
	padding: 70px 0 0 382px;
	margin: 0;
	position: relative;
	z-index: 1;
}
#nav li {
	background: left center url(images/bullet.gif) no-repeat;
	padding: 10px 0 8px 30px;
	margin: 0;
}
#nav li#m1 { margin-left: 19px; }
#nav li#m2 { margin-left: 11px; }
#nav li#m3 { margin-left: 3px; }
#nav li#m4 { margin-left: 0px;  }
#nav li#m5 { margin-left: 2px; }
#nav li#m6 { margin-left: 8px; }
#nav a {
	font-weight: normal;
}
#search {
	margin: 23px 0 0 400px;
}
#search h2 {
	font-weight: normal;
}
#search form {
	margin: 0;
	padding: 0 0 10px 0;
}
#search input.text {
	border: 1px solid #333;
	background: #E7E4E4;
}
#search input.submit {
	border: none;
	background: #E7E4E4;
}
#search a {
	color: #333;
	padding: 0 5px;
}
#search a:hover {
	color: #300;
}
#head {
	background: url(images/header.jpg) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 382px;
	height: 370px;
}
#head-pip {
	background: url(images/header_pip.jpg) no-repeat;
	position: absolute;
	top: 0;
	left: 382px;
	width: 48px;
	height: 94px;			
}

#body {
	background: top left #EEEEEE url(images/body_bg.png) repeat-y;
	position: relative;
	left: -10px;
	width: 775px;
}
#body-inner {
	padding: 28px 23px 28px 31px;
}
#body-left {
	float: left;
	width: 281px;
}
#body-right {
	float: right;
	width: 384px;
}
#topic-pic {
	background: #666;
	padding: 10px;
}
#body-left h2 {
	background: #f00;
	font-size: 12px;
	color: #fff;
	padding: 6px 23px;
	margin: 6px 0 60px 0;
}
#body-left ul {
	margin: 30px 55px;
}
#body-left li {
	margin: 5px;
}

#body-right .box {
	padding: 15px;
	background: #fff;
	border: 1px solid #999;
	margin: 3em 0;
}
#body-right h2 {
	font: 18px "arial narrow", arial, sans-serif;
}
#body-right .box p {
	margin: 0 0 1em 0;
}
#body-right .box .left {
	margin-right: 15px;
	border: 1px solid #999;
}
#body-right .box .btns {
	text-align: right;
	padding-top: 10px;
	position: relative;
}
.btns a {
	background: left #CC0000 url(images/btn.gif) repeat-y;
	border: 2px solid #E68282;
	border-color: #E68282 #650000 #650000 #9C2828;
	color: #fff;
	font-weight: normal;
	padding: 3px 15px 3px 20px;
	position: relative;
}
.btns a:hover {
	background-color: #EF1818;
	color: #fff;
}

#copyright {
	float: right;
	width: 425px;
	clear: both;
	margin-right: 9px;
	padding-bottom: 30px;
	_margin-right: 5px;
}

#copyright-left {
	padding: 27px 30px;
	font-size: 11px;
	text-align: center;
}

.mini-slider li {
    padding: 0px;
}
span.tools {display: block;}
.ui-icon {display: inline-block;}
.mini-slider { padding: 0px; margin: 0px}
#photo-upload {float: right; }
.hidden {display: none;}
#album {margin-top: 10px; overflow: hidden;}
textarea.mce {width: 650px; height: 600px; display: block;}
div.photo {display: inline-block; float: left; margin: 2px;}
div.photo-container, div.album-container {position: relative;}
div.photo p, div.album p {margin: 1px; text-align: center; padding: 0px;}
div.album {display: inline-block; float: left; margin: 2px; position: relative;}
div.album p.title {margin: 3px; text-align: center; font-weight: bold;}
div#editwindow {display: none;}
a.iframe {float: left;}
#videolist, #albumlist {margin-top: 10px;}
div.video {display: inline-block; width: 600px; height: 250px; float: left;}
div.desc {display: inline-block; margin: 0px; margin-left: 10px;}
div.desc h3 {margin: 0px;}
div.video p.tools {display: none; margin: 0px; padding: 0px}
div.video:hover p.tools {display: inline;}
div#clean {background: rgb(188, 188, 188); margin: 10px 0px 10px 1px; width: 570px; height: 1px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;}
div.top {float: none;}
.caption {
    text-align: center;
    margin: 0px;
    width:200px;
    height:35px;
    background:#000;
    color:#fff;
    position:absolute;  
    bottom:-1px; /* fix IE issue */  
    left:0;  
    display:none;  
    filter:alpha(opacity=70);    /* ie  */  
    -moz-opacity:0.7;    /* old mozilla browser like netscape  */  
    -khtml-opacity: 0.7;    /* for really really old safari */    
    opacity: 0.7;    /* css standard, currently it works in most modern browsers like firefox,  */  

}
.notice-caption {
    margin: 0px;
    width:400px;
    height:65px;
    background:#000;
    color:#fff;
    position:absolute;  
    bottom:-1px; /* fix IE issue */  
    left:0;
    padding: 3px;
    filter:alpha(opacity=70);    /* ie  */  
    -moz-opacity:0.7;    /* old mozilla browser like netscape  */  
    -khtml-opacity: 0.7;    /* for really really old safari */    
    opacity: 0.7;    /* css standard, currently it works in most modern browsers like firefox,  */  
}
.notice-caption h3 {
    color: white;
    margin: 2px;
    font-size: 14px;
    font-weight: bold;
}
li.li-photo img {
    padding: 0px !important;
    border: 0px;
}