{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/fullpage.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}js/albumlist.js"></script>
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<a class="to_button" href="/albuns/add/">Adicionar Album</a>
{% endif %}

<div id="albumlist">
{% for object in object_list %}
<div class="album" rel="{{ object.id }}">
  <div class="album-container">
    <a href="{{ object.get_absolute_url }}">
      <img src="{{ object.get_first_photo_thumbnail }}"/>
    </a>
    <p class="caption">
      <b>{{ object.name }}</b>
    </p>
  </div>
  {% if request.user.is_authenticated %}
  <p>
    <a href="/albuns/edit/{{ object.id }}/" class="edit">Editar</a>
    <a href="#" class="delete">Apagar</a>
  </p>
  {% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
