{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" id="theme">
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/plupload.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/plupload.gears.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plupload.silverlight.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plupload.flash.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plupload.html4.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plupload.html5.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plupload.pt-br.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}/css/wikiform.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/textareas.js"></script>
{% endblock %}
{% block content %}
<h2>{% if f %}Editando "{{ f.title }}"{% else %}Criando Página{% endif %}</h2>
<p><label>Local:</label> {{ url }}</p>
<form method="POST">
{% csrf_token %}
<p><tabel>Titulo:</label>{{ form.title }}</p>
{{ form.content }}

<input type="submit" value="Salvar"/>
</form>
{% endblock %}
{% block sidebar2 %}
<h3>Adicionar Imagens</h3>
<div id="container">
  <div id="filelist"></div>
  <br />
  <a class="to_button" id="pickfiles" href="#">Selecionar Fotos</a>
  <a class="to_button" id="uploadfiles" href="#">Enviar Fotos</a>
</div>
<script>
/*global $ */
$(function () {
    var uploader = new plupload.Uploader({
		runtimes : 'gears,html5,flash,silverlight,browserplus',
		browse_button : 'pickfiles',
		container : 'container',
		max_file_size : '10mb',
		url : '.',
		flash_swf_url : '/static/js/plupload.flash.swf',
		silverlight_xap_url : '/static/js/plupload.silverlight.xap',
                multipart_params: {'action': 'send_image'},
                headers : {'X-Requested-With' : 'XMLHttpRequest', 'X-CSRFToken' : '{{ csrf_token }}'},
		filters : [
			{title : "Arquivos de Fotos", extensions : "jpg,jpeg,gif,png"},
		],
		resize : {width : 800, height : 600, quality : 90}
	});

	$('#uploadfiles').click(function(e) {
		uploader.start();
		e.preventDefault();
	});

	uploader.init();

	uploader.bind('FilesAdded', function(up, files) {
		$.each(files, function(i, file) {
			$('#filelist').append(
				'<div id="' + file.id + '">' +
				file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
			'</div>');
		});

		up.refresh(); // Reposition Flash/Silverlight
	});

	uploader.bind('UploadProgress', function(up, file) {
		$('#' + file.id + " b").html(file.percent + "%");
	});

	uploader.bind('Error', function(up, err) {
		$('#filelist').append("<div>Error: " + err.code +
			", Message: " + err.message +
			(err.file ? ", File: " + err.file.name : "") +
			"</div>"
		);

		up.refresh(); // Reposition Flash/Silverlight
	});

	uploader.bind('FileUploaded', function(up, file, response) {
                if (response.status !== 200) return;
                var data = $.parseJSON(response.response);
                $('textarea').tinymce().execCommand('mceInsertContent',false,'<img src="'+data.url+'"/>');
		$('#' + file.id + " b").html("100%");
	});
});
</script> 
<!-- OCULTO -->
{% endblock %}
