<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
  <head>

    <meta name="Description" content="Information architecture, Web Design, Web Standards." />
    <meta name="Keywords" content="your, keywords" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Distribution" content="Global" />
    <meta name="Author" content="Wilson Pinto Júnior" />
    <meta name="Robots" content="index,follow" />
    <title>.: Pousada Bica D'Agua :.</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script> 

    <script type="text/javascript" src="{{ STATIC_URL }}/js/crsf.js"></script>

    {% if request.user.is_authenticated %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/script.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" id="theme"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/i18n/jquery-ui-i18n.min.js"></script>
    {% endif %}
    {% block header %} {% endblock %}
  </head>

  <body>
    <div id="outer">
      <div id="wrapper">
	<div id="nav">
	  <div id="head"></div>
	  <div id="head-pip"></div>
	  <ul>
	    <li id="m1"><a href="/home/">Início</a></li>
	    <li id="m2"><a href="/agenda/">Agenda</a></li>
	    <li id="m3"><a href="/albuns/">Albuns</a></li>
	    <li id="m4"><a href="/videos/">Vídeos</a></li>
	    <li id="m5"><a href="/faleconosco/">Fale conosco</a></li>
	    <li id="m6"><a href="/hospedagem">Hospedagem</a></li>
	  </ul>
	  <div id="search">
            	
	  </div>
	</div>
	<div id="body">
	  <div id="body-inner">
	    {% block content %}
            {% endblock %}
	  </div>
	  <div id="copyright">
            {% block extrafooter %}
            {% endblock %}
	    <p>
	      
	      <div id="copyright-left">
                &copy; 2011~2012 Pousada Bica D'agua</strong> | 
	      {% if request.user.is_authenticated %}
	      <span>Bem Vindo {{ request.user.username }}</span> -
	      <a href="/auth/logout/">Sair</a>
	      {% else %}
	      <a href="/auth/login/">Administração</a>
	      {% endif %}
              <a href="http://mail.banda13demaio.com.br/">E-Mail</a>
   	    </p>

	  </div>
	</div>
	<div class="clear">&nbsp;</div>
      </div>
    </div>
  </div>
</body>
</html>
