<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR" lang="pt-BR">
  <head>

    <meta name="Description" content="Information architecture, Web Design, Web Standards." />
    <meta name="Keywords" content="corumba de goias, goias, pousadas, bica da agua" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Distribution" content="Global" />
    <meta name="Author" content="Wilson Pinto Júnior" />
    <meta name="Robots" content="index,follow" />
    <title>.: Pousada Bica D'Agua :.</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script> 
    <script type="text/javascript" src="/static/js/jquery.cycle.min.js"></script> 

    <script type="text/javascript" src="{{ STATIC_URL }}/js/crsf.js"></script>

    {% if request.user.is_authenticated %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/script.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" id="theme"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/i18n/jquery-ui-i18n.min.js"></script>
    {% endif %}

    <script type="text/javascript">
      $(document).ready(function (e) {
          $('#header').cycle('fade');
      });
    </script>
    {% block header %} {% endblock %}
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <img src="/static/css/images/header_02.jpg"/>
        <img src="/static/css/images/header_03.jpg"/>
        <img src="/static/css/images/header_04.jpg"/>
        <img src="/static/css/images/header_05.jpg"/>
        <img src="/static/css/images/header_06.jpg"/>
        <img src="/static/css/images/header_07.jpg"/>
        <img src="/static/css/images/header_08.jpg"/>
        <img src="/static/css/images/header_09.jpg"/>
        <img src="/static/css/images/header_10.jpg"/>
        <img src="/static/css/images/header_11.jpg"/>
        <img src="/static/css/images/header_12.jpg"/>
        <img src="/static/css/images/header_13.jpg"/>
      </div>
      <div id="left">
        <div id="logo">
          
        </div>
        <div id="nav">
          <ul>
            <li id="m1" class="important"><a href="/">Início</a></li>
	    <li id="m2"><a href="/agenda/">Agenda</a></li>
	    <li id="m2"><a href="/news/">Notícias</a></li>
	    <li id="m3"><a href="/albuns/">Albuns</a></li>
	    <li id="m4"><a href="/videos/">Vídeos</a></li>
	    <li id="m5"><a href="/faleconosco/">Fale conosco</a></li>
	    <li id="m6"><a href="/hospedagem">Hospedagem</a></li>
          </ul>
        </div>
        <!--<div id="news">
          <h2>Latest News</h2>
          <h3>02/03/07</h3>
          <p>Even more websites all about website templates on <a href="http://www.justwebtemplates.com">Just Web Templates</a>.</p>
          <div class="hr-dots"> </div>
          <h3>01/03/07</h3>
          <p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
          <p class="more"><a href="http://www.freewebsitetemplates.com">more</a></p>
        </div>-->
        <div id="support">
        </div>
      </div>
      <div id="right">
        {% block content %}
        {% endblock %}
      </div>
      <div class="clear"> </div>
      <div id="spacer"> </div>
      <div id="footer">
        <div id="copyright">
          &copy; 2011~2012 Pousada Bica D'agua</strong> | 
        {% if request.user.is_authenticated %}
        <span>Bem Vindo {{ request.user.username }}</span> -
        <a href="/auth/logout/">Sair</a>
        {% else %}
        <a href="/auth/login/">Administração</a>
        {% endif %}
        <a href="http://mail.pousadabicadagua.com.br/">E-Mail</a>
      </div>
      <div id="footerline"></div>
    </div>
    
  </div>

</body>
</html>
