{% extends "base.html" %}
{% block header %}
<script type="text/javascript" src="/media/js/jquery.ulslide.js"></script>
<script type="text/javascript" src="/media/js/index.js"></script>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
		{% if albums %}
<h3>Últimos Albuns</h3>
	<ul class="mini-slider">
          {% for album in albums %}
	  <li class="li-photo">
	    <a href="{{ album.get_absolute_url }}">
	      <img src="{{ album.get_first_photo_thumbnail }}" alt="{{ album.name }}"/> 
	    </a>
	    <div class="caption nohidden">
	      <b>{{ album.name }}</b>
	    </div> 
	  </li>
	  {% endfor %}
	</ul>
	{% endif %}
</div>

{% endblock %}

{% block content %}
<div class="art-Post">
  <div class="art-Post-body">
    <div class="art-Post-inner">
      <h2 class="art-PostHeaderIcon-wrapper">
        <span class="art-PostHeader">Bem Vindo</span>
	<small>{% now "d \de F \de Y, h:i:s" %}</small>
      </h2>
      <div class="art-PostContent">
	<p></p>
	{% if notices %}
	<ul class="slider">
          {% for notice in notices %}
	  <li class="li-photo"> 
	    <img src="{{ notice.image.url }}" alt="{{ notice.name }}"/> 
		<div class="notice-caption">
		  <a href="{{notice.get_absolute_url }}"><h3>{{ notice.name }}</h3></a>
		  <p><small>Postado em {{ notice.date }} por {% firstof notice.user.get_full_name notice.user.username %}
		      {% if request.user.is_authenticated %}
		      <a href="/news/edit/{{ notice.id }}/">Editar</a>
		      <a href="/news/delete/{{ notice.id }}/">Apagar</a>
		      {% endif %}
		  </small></p>
		</div> 
	  </li>
	  {% endfor %}
	</ul>
	{% endif %}
      </div>
    </div>
    
  </div>
</div>
{% endblock %}
{% block extrafooter %}
<object type="application/x-shockwave-flash" data="http://flash-mp3-player.net/medias/player_mp3_mini.swf" width="200" height="20">
  <param name="movie" value="http://flash-mp3-player.net/medias/player_mp3_mini.swf" />
  <param name="bgcolor" value="#237FBE" />
  <param name="FlashVars" value="mp3=http%3A//banda13demaio.com.br/media/musica/index.mp3&amp;autoplay=1&amp;bgcolor=237FBE" />
</object>
{% endblock %}
